*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#f4f7fb;
  color:#222;
  transition:0.3s;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:#2563eb;
  color:white;
  flex-wrap:wrap;
}

.logo{
  font-size:24px;
  font-weight:700;
}

.nav-buttons{
  display:flex;
  gap:10px;
}

button{
  border:none;
  cursor:pointer;
}

.nav-buttons button{
  padding:12px 18px;
  border-radius:10px;
  background:white;
  color:#2563eb;
  font-weight:600;
}

.hero{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  align-items:center;
  gap:40px;
  padding:60px 8%;
}

.hero-content h1{
  font-size:48px;
  margin-bottom:20px;
}

.hero-content p{
  line-height:1.7;
  margin-bottom:25px;
}

.hero-btn{
  background:#2563eb;
  color:white;
  padding:14px 24px;
  border-radius:12px;
}

.hero-image img{
  width:100%;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.summary{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
  padding:20px 8%;
}

.card{
  background:white;
  padding:30px;
  border-radius:18px;
  text-align:center;
  box-shadow:0 5px 20px rgba(0,0,0,0.08);
  transition:0.3s;
}



.card:hover{
  transform:translateY(-5px);
}

.card i{
  font-size:40px;
  color:#2563eb;
  margin-bottom:15px;
}

#warning{
  margin:0 8%;
  color:red;
  font-weight:600;
}

.form-section,
.budget-section,
.filter-section,
.table-section{
  margin:30px 8%;
}

form,
.budget-section,
.filter-section{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
}

input,
select{
  padding:14px;
  border:1px solid #ccc;
  border-radius:10px;
}

form button,
#setBudgetBtn{
  background:#2563eb;
  color:white;
  border-radius:10px;
  padding:14px;
}

table{
  width:100%;
  border-collapse:collapse;
  background:white;
  border-radius:15px;
  overflow:hidden;
}



th{
   padding:16px;
  background:#2563eb;
  color:white;
}

td{
  padding:16px;
  text-align:center;
   color:black;
}

.edit-btn{
  background:#0ea5e9;
  color:white;
  padding:8px 12px;
  border-radius:8px;
}

.delete-btn{
  background:#ef4444;
  color:white;
  padding:8px 12px;
  border-radius:8px;
}

.charts{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
  gap:20px;
}

.chart-card{
  background:white;
  padding:25px;
  border-radius:18px;
}


@media(max-width:768px){

  .hero-content h1{
    font-size:34px;
  }

  table{
    font-size:14px;
  }

}